*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/*
.DS_Store
/build
/capturesgit
.externalNativeBuild
*.swp
webapilibrary
journal
.project
.settings
.classpath
/secrets.properties
